.banner {
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 2rem;
}
.img__banner {
    width: 250px;
    margin-top: 8rem;
}

.banner__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--azul-royal);
    width: 90%;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 10px;
}

.banner__titulo {
    color: var(--branco);
    font-weight: 700;
    line-height: normal;
}

.banner__texto {
    font-size: 12px;
    color: var(--branco);
    line-height: normal;
}

#form-calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: var(--azul-claro);
    padding: 1rem 0;
    width: 100%;
    margin: 0 auto;

}

.campo-input {
    border-style: none;
    padding: .5rem;
}

.campo-input::placeholder {
    font-family: var(--fonte-principal);
    text-align: center;
}

.botao {
    width: 45%;
    border-style: none;
    padding: .5rem 2rem;
    background: var(--laranja);
    font-family: var(--fonte-principal);
    font-weight: 700;
    color: var(--branco);
}

.botao:hover {
    background: var(--laranja-hover);
}

.imc__resultado {
    color: var(--branco);
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    #form-calculadora {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 2rem;
        width: 50%;
        border-radius: 5px;
    }

    .altura {
        grid-column: 1 / 3;
    }

    .peso {
        grid-column: 3 / 5;
    }

    .campo-input {
        width: 90%;
        padding: 1rem .5rem;
        font-size: 18px;
    }

    .botao {
        grid-column: 1 / 5;
        grid-row: 2;
        width: 100%;
        padding: 1rem;
        font-size: 18px;
    }

    .imc__resultado {
        grid-column: 2 / 4;
        font-size: 18px;
    }

    .banner__container {
        padding: 2rem;
        width: 50%;
        margin: 3rem 0;
    }
}






