.rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.rodape__autor {
    text-align: center;
    font-size: 13px;
    padding: 1rem 0;
}
@media screen and (min-width: 1440px) {
    .rodape__autor {
        font-size: 20px;
    }
}