@import url(css/banner.css);
@import url(css/rodape.css);

:root {
    --fonte-principal: 'Poppins', sans-serif;

    --branco: #FFFFFF;
    --azul-royal: #0053FA;
    --azul-claro: #4B86FB;
    --azul-marinho: #00297A;
    --azul-clarinho: #B8D0E4;
    --laranja: #ffd000;
    --laranja-hover: #ffa600;
}


body {
    font-family: var(--fonte-principal);
    background: var(--azul-clarinho);
    font-size: 16px;
    font-weight: 400;
    position: relative;
}